torch>=2.0.0
torchvision
transformers>=4.40.0
pillow
numpy
matplotlib
opencv-python
accelerate
einops
decord
pycocotools
git+https://github.com/facebookresearch/sam3.git
timm
git+https://github.com/facebookresearch/sam3.git

